body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(253, 253, 253);
}
li {
    color: rgb(0, 0, 0);
    font-weight: normal;
}
.normal {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.underline {text-decoration: underline;}
.bold {font-weight: bolder;}
.justify {text-align: justify;}
.homebg {
    background-image: url('../imagesfp/NBABackground.jpeg');
    background-position: top left;
}
.black {
    color: black;
    font-weight: normal;
}
.box1 {
    align-items: center;
}
.box2 {
    border-color: red;
    border-width: 5px;
    border-style: solid;
    padding: 5px;
}

.common {
    background-color: rgb(13, 125, 244);
    border: 2px solid white;
    position: absolute;
}
.headerx {
    text-align: center;
    top: 5px; 
    left: 5px; 
    right: 5px;
    height: 100px;
    }

.leftbody { 
    top: 428px; 
    left: 5px;
    right: 51%; 
    bottom: 5px;
}
.rightbody {
    top: 428px; 
    right: 5px; 
    left: 51%; 
    bottom: 5px;
}

.image{
    align-items: center;
    top: 114px;
    right: 5px;
    left: 5px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;     
    gap: 20px;
} 

html, body {
    margin: 0;
    height: 100%;}